body{
  margin: 0;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header{
background-color:#FF7118;
height: 15%;
display: grid;
  grid-template-columns: 1fr 0.1fr ;
  grid-template-rows: 1fr;
  align-items: center;
}
.titulo{
  justify-self:center;
}
.logo{ 
  width: 100px;
 justify-self:end;
}

footer{
  background-color:#FF7118;
  height: 10%;
  text-align: center;
}

/* @media screen and (min-width:376px){

} */